.app {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
}

.scrollwrapper {
  position: relative;
  font-size: 2em;
  overflow: hidden;
  height: 4em;
  line-height: 2;

  & > input {
    display: block;
    margin: 0;
    border: 0;
    outline: none;
    padding: 0;
    height: 2em;
    background-color: transparent;
    text-align: center;
    font-size: 1em;
    color: var(--text-color);
    width: 15em;
    &:focus::placeholder {
      color: transparent;
    }
  }
}

.inputdeco {
  background-color: var(--text-color);
  height: 5px;
  margin-top: -2px;
  width: 30em;
  position: relative;
  &::before, &::after {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 2.4em;
    height: 2.4em;
    border: 5px solid var(--text-color);
    bottom: calc(3px + 2em - 1.2em);
    transform: rotate(45deg);
  }
  &::before {
    border-bottom: none;
    border-left: none;
    left: calc(-2.4em * sqrt(2));
  }
  &::after {
    border-top: none;
    border-right: none;
    right: calc(-2.4em * sqrt(2));
  }
}

.reset {
  position: absolute;
  top: 1em;
  right: 1em;
}
