.app {
  padding-top: calc(50vh - 12rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
}

.scrollwrapper {
  position: relative;
  overflow: hidden;
  width: 30rem;
  transition: height 0.3s, margin-top 0.3s;
  height: 10.5rem;
  margin-top: 3rem;
  &.titleshown {
    /* タイトルを表示するときは大きめにする */
    height: 13.5rem;
    /* 大きくした分, 上の余白を減らす */
    margin-top: 0;
    /* リセットした際, 一瞬で最初の画面に戻せるようにする.
     * .titleshownが付与されるタイミングは読み込み時とリセット時だけなので,
     * プレイ中にモーションが無くなることはない */
    transition: none;
    & > .scrollinner {
      transition: none;
    }
  }
}
.scrollinner {
  position: absolute;
  /* topの値はApp.tsxで決定し, 付与 */
  transition: top 0.3s;
  & > input {
    display: block;
    margin: 0;
    border: 0;
    padding: 0;
    outline: none;
    height: 3rem;
    background-color: transparent;
    text-align: center;
    font-size: 2rem;
    color: var(--text-color);
    width: 30rem;
    /* カーソルが入力欄にあるならプレースホルダーを消す */
    &:focus::placeholder {
      color: transparent;
    }
    /* タイトルの設定 */
    &:first-child {
      height: 5rem;
      font-weight: bold;
      font-size: 3rem;
      & + .arrow {
        /* タイトルの直後の矢印は下のスペースを広めにとる */
        margin-bottom: 1.7rem;
      }
    }
  }
}

.arrow {
  width: 100%;
  height: 2.6rem;
  margin: 0.7em 0;
  background-color: var(--text-color);
  clip-path: polygon(
    calc(50% + 2.5px) 0,
    calc(50% + 2.5px) calc(100% - 2.5px - 5px * sqrt(2)),
    calc(50% + 1.3rem - 3px) calc(50% - 5px * sqrt(2) + 3px),
    calc(50% + 1.3rem + 5px / sqrt(2) - 3px) calc(50% - 5px / sqrt(2) + 3px),
    50% 100%,
    calc(50% - 1.3rem - 5px / sqrt(2) + 3px) calc(50% - 5px / sqrt(2) + 3px),
    calc(50% - 1.3rem + 3px) calc(50% - 5px * sqrt(2) + 3px),
    calc(50% - 2.5px) calc(100% - 2.5px - 5px * sqrt(2)),
    calc(50% - 2.5px) 0
  );
}

.inputdeco {
  /* 入力欄の下の線 */
  background-color: var(--text-color);
  height: 5px;
  margin-top: -2px;
  width: 30rem;
  position: relative;
  /* 入力欄の左右の> <の表示 */
  &::before, &::after {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 2rem;
    height: 2rem;
    border: 5px solid var(--text-color);
    bottom: calc(3px + 2rem - 1rem);
    transform: rotate(45deg);
  }
  &::before {
    border-bottom: none;
    border-left: none;
    left: calc(-2.4rem * sqrt(2));
  }
  &::after {
    border-top: none;
    border-right: none;
    right: calc(-2.4rem * sqrt(2));
  }
}

.reset {
  position: absolute;
  top: 1em;
  right: 1em;
}
