:root {
  font-family: sans-serif;
  color-scheme: light dark;
  --back-color: #ddd;
  --text-color: #000;
  --button-color: #fff;
  --error-icon: #f40;
  @media(prefers-color-scheme: dark) {
    --back-color: #333;
    --text-color: #fff;
    --button-color: #000;
    --error-icon: #f40;
  }
  @media (forced-colors: active) {
    --back-color: canvas;
    --text-color: canvasText;
    --button-color: buttonFace;
    --error-icon: canvasText;
  }
  background-color: var(--back-color);
  color: var(--text-color);
}

body {
  margin: 0;
}

button {
  position: relative;
  border: none;
  background-color: transparent;
  padding: 0 calc(10px * sqrt(2));
  margin: 0;
  cursor: pointer;
  &::before, &::after {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: calc(1rem * sqrt(2) + 2.5px);
    height: calc(1rem * sqrt(2) + 2.5px);
    top: calc(50% - 0.5rem * sqrt(2) - 1.25px);
    transform: rotate(45deg);
    border: 5px solid var(--text-color);
  }
  &::before {
    left: calc(1rem + 1.25px * sqrt(2) - 1rem / sqrt(2) - 1.25px + sqrt(2) * 5px);
    border-top: none;
    border-right: none;
    transition: left 0.3s;
  }
  &::after {
    right: calc(1rem + 1.25px * sqrt(2) - 1rem / sqrt(2) - 1.25px + sqrt(2) * 5px);
    border-bottom: none;
    border-left: none;
    transition: right 0.3s;
  }
  & > div {
    height: 2rem;
    padding: 0 1rem;
    background-color: color-mix(in srgb, var(--button-color) 50%, transparent);
    transition: background-color 0.3s;
    clip-path: polygon(
      0 50%,
      1rem 0,
      calc(100% - 1rem) 0,
      100% 50%,
      calc(100% - 1rem) 100%,
      1rem 100%
    );
    &::before {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: calc(0.5cap - 1rem);
    }
  }
  &:hover {
    &::before {
      left: calc(1rem + 1.25px * sqrt(2) - 1rem / sqrt(2) - 1.25px);
    }
    &::after {
      right: calc(1rem + 1.25px * sqrt(2) - 1rem / sqrt(2) - 1.25px);
    }
    & > div {
      background-color: var(--button-color);
    }
  }
}
