.view {
  margin-top: -6em;
  transform: translateY(6em);
  overflow: hidden;
  height: 12em;
}

.scroller {
  transition: transform 1s;
  transform: translateY(calc(-6em * (var(--entries) - 1)));
}

.entry {
  height: 3em;
  font-size: 2em;
}

.lastchar {
  color: red;
}
