.resultshadow {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 50%);

  display: flex;
  align-items: center;
  justify-content: center;
}

.result {
  background-color: var(--back-color);
  padding: 1em calc(1em + 10px);
  clip-path: polygon(
    calc(35px - sqrt(2) * 10px) 0,
    0 calc(35px - sqrt(2) * 10px),
    0 100%,
    calc(100% - 35px + sqrt(2) * 10px) 100%,
    100% calc(100% - 35px + sqrt(2) * 10px),
    100% 0
  );
  position: relative;
  &::before, &::after {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    background-color: var(--text-color);
    clip-path: polygon(
      60px 0,
      calc(25px - sqrt(2) * 5px) 0,
      0 calc(25px - sqrt(2) * 5px),
      0 35px,
      5px 35px,
      5px 20px,
      20px 5px,
      60px 5px
    );
  }
  &::after {
    transform: rotate(180deg);
  }
}

.retry {
  margin-top: 0.5em;
}
